body {
    font-family: Arial, sans-serif;
    background-color: #fff8f2;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #D95804 !important;
}

.nav-link.active,
.nav-link:hover {
    background-color: #EA900B !important;
    color: white !important;
}

.btn {
    background-color: #D95804;
    color: white;
    border: none;
}
#nav
{
    font-size: 19px;
}

.btn:hover {
    background-color: #EA900B;
}

.price-tag h2 {
    color: #D95804;
}

.badge {
    background-color: #E4B675;
    color: #222;
}

.card {
    border: 2px solid #E4B675;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-title {
    color: #D95804;
}

.card-body ul li i.fa-check {
    color: #48D5D2;
}

.comparison td {
    background-color: #fff;
}
.comparison table {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.comparison th {
    background-color: #EA900B !important;
    color: white !important;
    font-weight: bold;
}

.comparison td {
    background-color: #fff;
    vertical-align: middle;
}

.comparison i.fa-check {
    color: #48D5D2;
}

.comparison i.fa-times {
    color: #ccc;
}
#conf
{
    color: black;
    margin-left: 215px;
    margin-bottom: 60px;
}