body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
  }

   @media (max-width: 1168px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    #logo img {
        width: 80%; /* Ajusta o tamanho do logo */
    }

    nav {
        flex-direction: row;
        gap: 20px;

    }

    .contact {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .contact {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 600px) {
    nav {
      flex-direction: column;
        display: none; /* Oculta a navegação */
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #E4B675;
    justify-content: center;
    align-items: center;
}

#dados {
  display: flex;
  flex-direction: row;
}

#dados img {
  margin-left: 150px;
  margin-right: 125px;
}

.p1 {
  font-weight: bold;
  margin-bottom: 8px;
}

#dados1 {
  margin-top: 15px;
  margin-right: 190px;
  width: 220px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

#dados2 {
  margin-top: 15px;
  margin-right: 190px;
}

#dados3 {
  margin-top: 15px;

}

#dados3img {
  display: flex;
  flex-direction: row;
}

#dados3img img {
  padding: 0;
  margin: 0;
  margin-right: 24px;
}

#linha {
  width: 95%;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}

#p2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: 0;
}